:root {
  --text-light: #e8feff;
  --text-dark: #000;
  --bg-light: white;
  --bg-dark: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h3 {
  font-size: larger;
}

a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: var(--bg-light);
  opacity: 0.8;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* NAVBAR */
.navbar {
  padding: 1.3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.navbar.active {
  background-color: white;
}

.logo {
  margin-top: 0;
  width: 6rem;
  /* transform: rotate(90deg); */
}

.links-list {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0 0 0 3rem;
}

.vv {
  width: 100%;
}

#nav-links {
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 0.5rem;
  text-decoration: none;
}

.mx3 {
  color: white;
  margin-left: 30px;
}

.mx3.act {
  color: #000;
}

.cart {
  display: flex;
}

.cart > a {
  padding-inline: 1.5rem;
  font-size: 1.7rem;
  color: var(--text-light);
}

.cart.act > a {
  color: black;
}

/* Sign-in form */

.main-account-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}

.vertical-line {
  height: 21rem;
  width: 0.07px;
  background-color: rgb(104, 103, 103);
}

.account-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 80%;
  padding: 4rem 6rem;
}

.main-form-div {
  position: relative;
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* z-index: 2000; */
}

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-div > input {
  width: 75%;
}

.form-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.remember-box {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.privacy-policy {
  width: 75%;
  text-align: center;
  font-size: 0.7rem;
}

.sign-in-btn {
  width: 75%;
  font-size: 1rem;
  outline: none;
}

/* CAROUSEL */
/* .carousel {
  margin-bottom: 6rem;
} */
/* .carouselImage {

} */

.carousel-item {
  position: relative;
  text-align: center;
  color: white;
}

.text1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  top: 53%;
  left: 13%;
  font-size: 10rem;
}
.text2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  top: 71%;
  left: 13%;
  font-size: 5rem;
  color: rgb(43, 47, 82);
}

.text3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 10rem;

  color: black;
}
.text4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 7rem;
}

/* FOOTER CSS */
footer {
  /* margin-top: 100vh; */
  padding: 4rem 5rem;
  background-color: var(--bg-dark);
  color: #fff;
}

footer h5 {
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: 2px;
}

footer a {
  color: var(--text-light);
}

.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.footer-col > h5 {
  margin-bottom: 1.5rem;
}
.footer-col > a {
  margin: 0.4rem 0;
}
.media-link {
  padding-right: 1rem;
  font-size: 1.8rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding-top: 20px;
  padding-bottom: 14px;

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* margin-top: -65px; */
  background: linear-gradient(
    180deg,
    rgb(179, 31, 68) 0%,
    rgb(206, 34, 77) 35%,
    rgb(255, 43, 96) 100%
  );

  /* background: linear-gradient(
    180deg,
    rgb(25, 153, 121) 0%,
    rgb(31, 187, 148) 35%,
    rgb(35, 206, 163) 100%
  ); */
}

.menu1 {
  padding: 20px;
  /* background-color: aquamarine; */
  border-radius: 10px;
  color: white;
}

.menu2 {
  padding: 20px;
  /* background-color: pink; */
  border-radius: 10px;
  color: white;
}

.menu3 {
  padding: 20px;
  /* background-color: aquamarine; */
  border-radius: 10px;
  color: white;
}

.pp {
  width: 100%;

  margin-top: -123px;
}

.header_searchInput {
  border-radius: 40px;
  width: 400px;
  height: 40px;
  border: none;
  margin-top: -4px;
}

.fa-search {
  margin-left: 13px;
  color: white;
}

.header_search {
  display: flex;
}

input:focus {
  outline: none;
}

.mens-banner-1{
  width: 100%;
}

.m-column-1{
  float: left;
  width: 50%;
  /* padding: 10px; */
  height: 500px;
}
.m-img{
  height: 500px;
  width: 100%;
}

.mens-row-1{

  width: 100%;
  height: 500px;
}
.mens-row-1:after {
  content: "";
  display: table;
  clear: both;
}

.m-card-content{
  padding: 125px 85px;
}

.m-card-content h2{
  text-align: center;
  padding-bottom: 20px;
}

.m-card-content h4{
  text-align: justify;
  line-height: 35px;
  padding-bottom: 20px;
}

.mens-banner-2{
  width :100%;
  height: 500px;
  
}

.m-banner-2{
  position: relative;
}

#bannr-2 .m-banner-2 a{
  position: absolute;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;  
  bottom: 165px;
  left: 390px;
}

.m-column{
  float: left;
  height: 500px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}



.m-card-content-2 h2{
  text-align: center;
  
}

.m-card-content-2 h4{
  text-align: justify;
}

.m-card-content-2 p{
  text-align: center;
}
