* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}


.logo {
  margin-top: 0;
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.links-list {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-links {
  font-size: 1.5rem;
}

.cart {
  display: flex;
}

/* FOOTER CSS */
footer{
  padding: 2rem 0 ;
  background-color: #182334;
  color: #fff;
}

footer h2{
  color: #fff;
}

footer li{
  list-style: none;
  font-size: 1.3rem;
  font-weight: lighter;
  cursor: pointer;
  color: #fff;
  margin: 1rem 0;
}