:root {
  --text-light: #e8feff;
  --text-dark: #000;
  --bg-light: #e8feff;
  --bg-dark: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

a:hover {
  color: var(--bg-light);
  opacity: 0.8;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* NAVBAR */
.nav {
  padding: 1.3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  text-transform: uppercase;
}

.logo {
  margin-top: 0;
  width: 6rem;
}

.links-list {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0 0 0 3rem;
}

#nav-links {
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 0.5rem;
  text-decoration: none;
  color: var(--text-light);
}

.cart {
  display: flex;
}

.cart > a {
  padding-inline: 1.5rem;
  font-size: 1.7rem;
  color: var(--text-light);
}

/* Sign-in form */

.main-account-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}

.vertical-line {
  height: 21rem;
  width: 0.07px;
  background-color: rgb(104, 103, 103);
}

.account-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 80%;
  padding: 4rem 6rem;
}

.main-form-div {
  position: relative;
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* z-index: 2000; */
}

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-div > input {
  width: 75%;
}

.form-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.remember-box {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.privacy-policy {
  width: 75%;
  text-align: center;
  font-size: 0.7rem;
}

.sign-in-btn {
  width: 75%;
  font-size: 1rem;
  outline: none;
}

/* CAROUSEL */
.carousel {
  margin-top: 5rem;
}
.carouselImage {
  /* transform: scaleY(0.7); */
  height: 90.55vh;
}

/* FOOTER CSS */
footer {
  /* margin-top: 100vh; */
  padding: 4rem 5rem;
  background-color: var(--bg-dark);
  color: #fff;
}

footer h5 {
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: 2px;
}

footer a {
  color: var(--text-light);
}

.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.footer-col > h5 {
  margin-bottom: 1.5rem;
}
.footer-col > a {
  margin: 0.4rem 0;
}
.media-link {
  padding-right: 1rem;
  font-size: 1.8rem;
}
